.header-gastos-comunes{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;

    width: 100%;
    height: 50px;
    z-index: 10;

    background-color: white;
    box-shadow: 0 0px 1px rgb(165, 165, 165);
}

.header-gastos-comunes__logo {
    padding: 5px;
}

.header-gastos-comunes img{
    height: 40px;
}